upstream {{item.key}} {
{% for server in groups.tag_Name_APP_DRL %}
  server {{ server }}:{{ item.value.backend }};
{% endfor %}
}

server {
   listen {{ item.value.frontend }};

   location / {
     proxy_pass http://{{ item.key }};
}
}
